html,
body {
  margin: 0;
  background: white;
}

body {
  font-family: 'Barlow Semi Condensed', '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', sans-serif;
  color: #444;
}

nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  transition: background-color .3s linear;
}

.nav--open {
  height: auto;
}

.nav--highlight {
  background-color: rgba(241, 244, 237, .88);
}

.nav__container {
  position: relative;
  width: 100%;
  height: 50px;
  transition: background-color .2s linear;
}

.nav--highlight .nav__container {
  transition: background-color .4s linear;
  background-color: transparent !important;
}

.nav__hamburger {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 26px;
  height: 26px;
  border: none;
  background: center / contain no-repeat url(/image/hamburger.png) transparent;
}

.nav__title {
  display: block;
  position: absolute;
  top: 13px;
  left: 50%;
  height: 24px;
  transform: translateX(-50%);
  opacity: 0;
}

.nav__links {
  list-style: none;
  margin: 0;
  padding: 15px 50px;
  opacity: 0;
  transition: opacity .3s linear;
}

.nav__links--opaque {
  opacity: 1;
}

.nav__links li {
  padding: 15px 0;
}

.nav__link {
  display: block;
  font-size: 2rem;
  font-weight: 200;
  text-decoration: none;
  text-transform: uppercase;
  color: #444;
}

header {
  margin: 30px 30px 40px;
}

.header__image {
  display: block;
  width: 100%;
}

section {
  margin: 40px;
  padding: 40px 0;
  border-top: 1px solid rgb(216, 215, 210);
}

section > div {
  position: relative;
  margin: 40px 0;
  overflow: hidden;
}

section p {
  margin: .25em 0;
}

.section__profile-image {
  height: 182px;
  float: right;
}

.section__profile-name {
  position: absolute;
  left: 0;
  bottom: 0;
}

.section__email-link {
  text-decoration: none;
  color: #444;
}

.section__icons {
  margin: 0;
  padding: 0;
}

.section__icons li {
  display: inline-block;
  margin: 0;
  margin-right: 20px;
}

.section__icons a {
  font-size: 40px;
  line-height: 39px;
  margin: 0;
  color: #777;
}

footer {
  text-align: center;
  text-transform: uppercase;
  font-size: .7rem;
  margin: 20px;
  color: #bbb;
}

@media (min-width: 640px) {
  main {
    display: flex;
  }

  header {
    flex: 1;
    margin-top: 80px;
  }

  section {
    flex: 1;
    border-top: none;
  }
}

@media (min-width: 960px) {
  main {
    margin-left: 160px;
    margin-right: 120px;
  }

  nav {
    width: 160px;
    height: auto;
  }

  .nav__container {
    display: none;
  }

  .nav__links {
    opacity: 1;
    padding: 80px 0 0 30px;
  }

  .nav__link {
    display: inline;
    font-size: 1.6rem;
  }
}

@media (min-width: 1120px) {
  main {
    margin-left: auto;
    margin-right: auto;
    max-width: 840px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 20px;
  }

  main {
    max-width: 1080px;
  }

  nav {
    width: 320px;
  }
}

@media (min-width: 2560px) {
  html {
    font-size: 28px;
  }

  main {
    max-width: 1440px;
  }
}
