body {
    font-family: 'Raleway', 'M PLUS 1p', sans-serif;
}

header {
   text-align: center;    
}

header .logo {
    display: block;
}

header .logo img {
    display: block;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}
